In [1]:
#Importing libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
#reading page
r=requests.get('https://www.imdb.com/list/ls056092300/')

In [3]:
#parsing data
soup=BeautifulSoup(r.text,'html.parser')

In [4]:
#Coolecting records,extracting values and making a dataframe
df = pd.DataFrame([i.text.split('\n')[2:-1] for i in soup.find_all('h3', attrs={'class':'lister-item-header'})], 
             columns=['movie', 'year'])
df['year'] = df.year.str[1:-1]
df['rating'] = [i.text.replace('\n', '') for i in soup.find_all('div', attrs={'class':'ipl-rating-star small'})]
df

                                movie  year rating
0                     Ship of Theseus  2012      8
1                              Iruvar  1997    8.5
2                     Kaagaz Ke Phool  1959      8
3   Lagaan: Once Upon a Time in India  2001    8.1
4                     Pather Panchali  1955    8.6
..                                ...   ...    ...
95                        Apur Sansar  1959    8.5
96                        Kanchivaram  2008    8.1
97                    Monsoon Wedding  2001    7.3
98                              Black  2005    8.2
99                            Deewaar  1975    8.1

[100 rows x 3 columns]

In [5]:
df.to_csv('Imdb-top100indianmovies.csv',index=False,encoding='utf-8')