Importing libraries

In [14]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [15]:
#reading page
r=requests.get('https://www.imdb.com/list/ls091520106/')

In [16]:
#parsing data
soup=BeautifulSoup(r.text,'html.parser')

In [18]:
#Coolecting records,extracting values and making a dataframe
df = pd.DataFrame([i.text.split('\n')[2:-1] for i in soup.find_all('h3', attrs={'class':'lister-item-header'})], 
             columns=['movie', 'year'])
df['year'] = df.year.str[1:-1]
df['rating'] = [i.text.replace('\n', '') for i in soup.find_all('div', attrs={'class':'ipl-rating-star small'})]
df

                       movie  year rating
0   The Shawshank Redemption  1994    9.3
1              The Godfather  1972    9.2
2     The Godfather: Part II  1974      9
3            The Dark Knight  2008      9
4               12 Angry Men  1957    8.9
..                       ...   ...    ...
95        North by Northwest  1959    8.3
96        A Clockwork Orange  1971    8.3
97                    Snatch  2000    8.3
98                    Amélie  2001    8.3
99                   The Kid  1921    8.3

[100 rows x 3 columns]

In [19]:
#Creating a csv file
df.to_csv('imdb-top100movies.csv',index=False,encoding='utf-8')