In [29]:
#importing libraries
import pandas as pd
import numpy as np

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException

from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
from webdriver_manager.chrome import ChromeDriverManager
import time

#Using proxy chrome driver
driver = webdriver.Chrome('C:/Users/DC/Desktop/chromedriver.exe')
driver.maximize_window()


#Data reading,parsing,extraction and dataframe creation 
final_df = pd.DataFrame()

for i in range(0, 101,25):
    print(i)
    driver.get(f'https://www.monsterindia.com/srp/results?start={i}&sort=1&limit=25&query=Software%20Engineer')
    time.sleep(10)
    jobs = [i.text for i in driver.find_elements_by_xpath("//*[contains(@class, 'medium')]") if len(i.text)]
    company = [i.text for i in driver.find_elements_by_xpath("//*[contains(@class, 'company-name')]") if len(i.text)]
    loc = [i.text for i in driver.find_elements_by_xpath("//span[contains(@class, 'loc')]")][1:-1]
    loc = [loc[k:k+3] for k in range(0, len(loc), 3)]

    df = pd.DataFrame(loc, columns=['loc', 'exp', 'salary'])
    df['role'] = jobs
    df['company'] = company
    df = df[['role', 'company', 'loc', 'exp', 'salary']]
    
    final_df = pd.concat([final_df, df])
    print(final_df.shape)

final_df = final_df.reset_index(drop=True)

0
(25, 5)
25
(50, 5)
50
(75, 5)
75
(100, 5)
100
(125, 5)

In [30]:
final_df

,role,company,loc,exp,salary
0,Wix Software Engineer Intern,Network Objects Inc,Hyderabad / Secunderabad,0-1 Years,Not Specified
1,Android Developer,Company Name Confidential,"Mumbai, Noida",1-4 Years,Not Specified
2,Junior Software Engineer,Gravity Career Solution,Noida,1-3 Years,"2,29,999-3,30,000 INR"
3,Junior Software Engineer .NET,Gravity Career Solution,Pune,1-3 Years,"2,20,000-3,60,000 INR"
4,Software Engineer / Senior Software Engineer,Mindteck (India) Limited,Bengaluru / Bangalore,4-8 Years,Not Specified
...,...,...,...,...,...
120,Software Support Engineer,Acute Informatics Private Limited,Ahmedabad,0-1 Years,Not Specified
121,Software Engineer,Dtech World,Hyderabad / Secunderabad,0-1 Years,"2,00,000-3,00,000 INR"
122,Software Engineer Software Developer Software ...,ATT Systems India Private Limited,Chitradurga,3-6 Years,Not Specified
123,Software Engineer Software Developer Software ...,Dreamz Abroad Consultants Private Limited,Canada,2-12 Years,Not Specified
124,ETL Developers- Mumbai,DSI Services,Mumbai,2-5 Years,Not Specified

In [31]:
final_df.to_csv('Monster-software_engg.csv',index=False,encoding='utf-8')